<html>

<head>
  <title>Gridpack Extravaganza</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="static/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-csv@1.0.21/src/jquery.csv.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" type="text/css" href="static/style.css">

  <link rel="icon" type="image/png" href="static/icon.png" />
  <style>
    body {
      background: #fafafa;
    }
    .wizard-option {
      cursor: pointer;
      text-decoration: underline;
    }
    td, th {
      border: 1px #aaa solid;
      padding: 2px 4px;
      font-size: 0.9em;
      text-align: center;
      white-space: nowrap;
    }
    td.wrap {
      white-space: normal;
      word-break: break-all;
    }
    th {
      text-align: center;
      background: #eee;
    }
    tr {
      height: 30px;
      background: white;
    }
    table {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      margin-top: 20px;
      border-collapse: collapse;
    }
    .sort {
      cursor: pointer;
    }
    input {
      width: 98%;
      margin: auto;
      margin-bottom: 2px;
      border: 1px solid black;
      padding-left: 4px;
      padding-right: 4px;
    }
    select {
      width: 98%;
    }
    .sorted-by {
      background: #c8c8c8;
    }
    a {
      color: #005eb6;
    }
    form.file-upload {
      max-width: 400px;
      margin: auto;
      border: 2px gray dashed;
      border-radius: 40px;
      padding: 50px;
      text-align: center;
      cursor: pointer
    }
    form.file-upload.dragging-over {
      background-color: #eaeaea;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">
      <header class="elevation-3">
        <div style="height: 64px; text-decoration: none; color: rgba(0, 0, 0, 0.87); justify-content: space-between;">
          <a href="/gridpack/" class="headline">
            <span>Grid</span><span class="font-weight-light">pack</span>
          </a>
          <div style="text-align: right; line-height: 28px;">
            <small class="font-weight-light">Logged in as</small> {{user.name}}
            <img style="width: 16px; height: 16px; vertical-align: baseline;" v-if="user.authorized" src="static/star.png"/>
          </div>
        </div>
      </header>
    </div>

    <div class="container" style="padding-top: 76px;">
    </div>

    <div class="container mt-4" style="text-align: center;" v-if="user.authorized">
      <button type="button" class="btn btn-success btn-sm elevation-3 ml-1 mr-1" data-toggle="modal" data-target="#createGridpackModal">New gridpack wizard</button>
      <button type="button" class="btn btn-success btn-sm elevation-3 ml-1 mr-1" data-toggle="modal" data-target="#uploadCSVModal">Gridpacks from CSV</button>
      <button type="button" class="btn btn-info btn-sm elevation-3 ml-1 mr-1" @click="forceTick()">Machine tick</button>
      <button type="button" class="btn btn-info btn-sm elevation-3 ml-1 mr-1" @click="forceRepositoryTick()">Refresh repository</button>
      <div class="mt-2">
        <small>Machine tick {{systemInfo.lastTickNice}} ago | Repository refresh {{systemInfo.lastTickRepositoryNice}} ago</small>
      </div>
    </div>
    <table>
      <tr>
        <th>Campaign</th>
        <th>Generator</th>
        <th>Dataset</th>
        <th>Actions</th>
        <th>Beam energy</th>
        <th>Tune</th>
        <th>Events</th>
        <th>GEN productions</th>
        <th>Status</th>
        <th>Job</th>
        <th>Gridpack</th>
        <th>History</th>
      </tr>
      <tr v-for="gridpack in gridpacks" :key="gridpack._id">
        <td>
          {{gridpack.campaign}}
        </td>
        <td>
          {{gridpack.generator}}
        </td>
        <td>
          {{gridpack.dataset}}
        </td>
        <td>
          <span style="cursor: pointer;" title="Delete gridpack job" @click="deleteGridpack(gridpack)">&#10007;</span>
          <span style="cursor: pointer;" title="Reset job" @click="resetGridpack(gridpack)">&#8634;</span>
        </td>
        <td>
          {{gridpack.beam}}
        </td>
        <td>
          {{gridpack.tune}}
        </td>
        <td>
          {{gridpack.eventsNice}}
        </td>
        <td>
          <a :href="'https://github.com/' + systemInfo.gen_repository + '/tree/' + gridpack.genproductions" target="_blank">{{gridpack.genproductions}}</a>
        </td>
        <td>
          {{gridpack.status}}
        </td>
        <td>
          <pre style="margin: 0">{{gridpack.condor_status}} ({{gridpack.condor_id}})</pre>
        </td>
        <td>
          <a :href="'https://pdmv-gridpacks.web.cern.ch/?q=' + gridpack.archive" target="_blank">{{gridpack.archive}}</a>
        </td>
        <td>
          <ul style="text-align: left">
            <li v-for="entry in gridpack.newestHistory">{{entry.timeNiceShort}} {{entry.action}} <small>({{entry.user}})</small></li>
          </ul>
        </td>
      </tr>
    </table>
    <!-- Create new gridpack modal -->
    <div class="modal fade" id="createGridpackModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="createGridpackModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createGridpackModalLabel">New gridpack wizard</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul v-if="systemInfo.options && systemInfo.options.campaigns">
              <li v-for="(_, campaign) in systemInfo.options.campaigns">
                <span class="wizard-option" v-if="wizard.campaign != campaign" @click="wizardSelectCampaign(campaign)">{{campaign}}</span>
                <b v-if="wizard.campaign == campaign">{{campaign}}</b>
                <ul v-if="wizard.campaign == campaign">
                  <li v-for="generator in systemInfo.options.campaigns[wizard.campaign]" >
                    <span class="wizard-option" v-if="wizard.generator != generator" @click="wizardSelectGenerator(generator)">{{generator}}</span>
                    <b v-if="wizard.generator == generator">{{generator}}</b>
                    <ul v-if="wizard.generator == generator">
                      <li v-for="(_, process) in systemInfo.options.cards[wizard.generator]" >
                        <span class="wizard-option" v-if="wizard.process != process" @click="wizardSelectProcess(process)">{{process}}</span>
                        <b v-if="wizard.process == process">{{process}}</b>
                        <ul v-if="wizard.process == process">
                          <li v-for="dataset in systemInfo.options.cards[wizard.generator][wizard.process]">
                            <span class="wizard-option" v-if="wizard.dataset != dataset" @click="wizardSelectDataset(dataset)">{{dataset}}</span>
                            <b v-if="wizard.dataset == dataset">{{dataset}}</b>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
            <table v-if="wizard.dataset">
              <tr><td>Events</td><td><input type="number" v-model="wizard.events"></td></tr>
              <tr><td>Tune</td><td><input type="text" v-model="wizard.tune"></td></tr>
              <tr><td>Beam evergy</td><td><input type="number" v-model="wizard.beam"></td></tr>
              <tr>
                <td>GENproductions</td>
                <td>
                  <select v-model="wizard.genproductions">
                    <option disabled value="">Please select one</option>
                    <option v-for="branch in systemInfo.options.branches" :key="branch">{{branch}}</option>
                  </select>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-sm btn-success"
                    :disabled="wizard.events <= 0 || !wizard.tune.length || wizard.beam <= 0 || !wizard.genproductions.length"
                    @click="wizardCreateGridpack()"
                    data-dismiss="modal">Create gridpack</button>
            <button type="button"
                    class="btn btn-sm btn-secondary"
                    data-dismiss="modal"
                    @click="wizardSelectCampaign(undefined)">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Upload CSV modal -->
    <div class="modal fade" id="uploadCSVModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="uploadCSVModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="uploadCSVModalLabel">Upload CSV of gridpacks</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form v-show="!csvDialog.objects.length"
                  class="file-upload"
                  enctype="multipart/form-data"
                  accept=".csv"
                  @click="fileUploadOpenDialog()"
                  ref="file-upload-form">
              <input style="display: none" type="file" ref="file-upload-input" />
              <b>Click here</b> to choose a file <span v-if="csvDialog.dragDropSupported">or drag and drop it in dashed area</span>
              <br>
              <div style="line-height: 80%; margin-top: 8px;">
                <small>Only CSV files are supported</small>
              </div>
            </form>
            <table v-show="csvDialog.objects.length">
              <tr>
                <th>Campaign</th>
                <th>Generator</th>
                <th>Dataset</th>
                <th>Beam energy</th>
                <th>Tune</th>
                <th>Events</th>
                <th>GEN productions</th>
              </tr>
              <tr v-for="gridpack in csvDialog.objects">
                <td>
                  {{gridpack.campaign}}
                </td>
                <td>
                  {{gridpack.generator}}
                </td>
                <td class="wrap">
                  {{gridpack.dataset}}
                </td>
                <td>
                  {{gridpack.beam}}
                </td>
                <td>
                  {{gridpack.tune}}
                </td>
                <td>
                  {{gridpack.events}}
                </td>
                <td>
                  {{gridpack.genproductions}}
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-sm btn-success"
                    :disabled="!csvDialog.objects.length"
                    @click="fileUploadCreateGridpacks()"
                    data-dismiss="modal">Create gridpacks</button>
            <button type="button"
                    class="btn btn-sm btn-secondary"
                    data-dismiss="modal"
                    @click="fileUploadCloseDialog()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        user: {},
        systemInfo: {},
        gridpacks: [],
        totalGridpacks: 0,
        wizard: {
          campaign: undefined,
          generator: undefined,
          process: undefined,
          dataset: undefined,
          events: 0,
          tune: '',
          beam: 0,
          genproductions: '',
        },
        csvDialog: {
          dragDropSupported: false,
          objects: [],
        }
      },
      created() {
        this.getUserInfo();
        this.getSystemInfo();
        this.getGridpacks();
        setInterval(this.updateTickDisplay, 1000);
      },
      mounted() {
        this.fileUploadPrepareForm();
      },
      methods: {
        getUserInfo: function() {
          const component = this;
          $.get("api/user", function (data) {
            component.user = data;
          });
        },
        getSystemInfo: function() {
          const component = this;
          $.get("api/system_info", function (data) {
            component.systemInfo = data;
            component.updateTickDisplay();
          });
        },
        updateTickDisplay: function() {
          let now = parseInt(Date.now() / 1000);
          this.$set(this.systemInfo, 'lastTickNice', this.secondsToDiff(now - this.systemInfo.last_tick))
          this.$set(this.systemInfo, 'lastTickRepositoryNice', this.secondsToDiff(now - this.systemInfo.last_repository_tick))
        },
        getGridpacks: function() {
          const component = this;
          $.get("api/get", function (data) {
            component.gridpacks = data[0];
            for (let gridpack of component.gridpacks) {
              gridpack.eventsNice = gridpack.events.toLocaleString('en-US');
              gridpack.newestHistory = gridpack.history.slice(-3);
              for (let entry of gridpack.newestHistory) {
                entry.timeNiceShort = moment(new Date(entry.time * 1000.0)).format('MMM DD HH:mm');
              }
            }
            component.totalGridpacks = data[1];
          });
        },
        forceTick: function() {
          const component = this;
          $.get('api/tick', function (data) {
            if (data.message != 'OK') {
              alert(data);
            } else {
              setTimeout(() => {
                component.getSystemInfo();
                component.getGridpacks();
              }, 1000);
            }
          });
        },
        forceRepositoryTick: function() {
          const component = this;
          $.get('api/tick_repository', function (data) {
            if (data.message != 'OK') {
              alert(data);
            } else {
              setTimeout(() => {
                component.getSystemInfo();
              }, 1000);
            }
          });
        },
        createGridpacks: function(gridpacks) {
          const component = this;
          $.ajax({
            url: 'api/create',
            type: 'PUT',
            data: JSON.stringify(gridpacks),
            contentType: 'application/json',
            success: function(result) {
              component.getGridpacks();
            }
          }).fail(function(data) {
            alert(data.responseJSON.message)
          });
        },
        resetGridpack: function(gridpack) {
          if (window.confirm('Reset ' + gridpack._id + '?')) {
            const component = this;
              $.ajax({
                url: 'api/reset',
                type: 'POST',
                data: JSON.stringify(gridpack),
                contentType: 'application/json',
                success: function(result) {
                  component.getGridpacks();
                }
            });
          }
        },
        deleteGridpack: function(gridpack) {
          if (window.confirm('Delete ' + gridpack._id + '?')) {
            const component = this;
              $.ajax({
                url: 'api/delete',
                type: 'DELETE',
                data: JSON.stringify(gridpack),
                contentType: 'application/json',
                success: function(result) {
                  component.getGridpacks();
                }
            });
          }
        },
        secondsToDiff: function (s) {
          var days = Math.floor(s / 86400)
          var hours = Math.floor((s - (days * 86400)) / 3600)
          var minutes = Math.floor((s - (days * 86400 + hours * 3600)) / 60)
          var seconds = s - days * 86400 - hours * 3600 - minutes * 60;
          var result = ''
          if (days > 0) {
            result += days + 'd '
          }
          if (hours > 0) {
            result += hours + 'h '
          }
          if (minutes > 0) {
            result += minutes + 'min '
          }
          if (days == 0 && hours == 0 && minutes < 5) {
            result += seconds + 's'
          }
          return result
        },
        // Create new gridpack wizard
        wizardSelectCampaign: function(campaign) {
          this.wizard.campaign = campaign;
          this.wizardSelectGenerator(undefined);
        },
        wizardSelectGenerator: function(generator) {
          this.wizard.generator = generator;
          this.wizardSelectProcess(undefined);
        },
        wizardSelectProcess: function(process) {
          this.wizard.process = process;
          this.wizardSelectDataset(undefined);
        },
        wizardSelectDataset: function(dataset) {
          this.wizard.dataset = dataset;
          this.wizard.events = 0;
          this.wizard.tune = '';
          this.wizard.beam = 0;
          this.wizard.genproductions = '';
          let branches = this.systemInfo.options.branches;
          if (branches.includes('master')) {
            this.wizard.genproductions = 'master';
          }
        },
        wizardCreateGridpack: function() {
          let wizard = this.wizard;
          this.createGridpacks([{'campaign': wizard.campaign,
                                 'generator': wizard.generator,
                                 'process': wizard.process,
                                 'dataset': wizard.dataset,
                                 'events': parseInt(wizard.events),
                                 'tune': wizard.tune,
                                 'beam': parseInt(wizard.beam),
                                 'genproductions': wizard.genproductions}]);
        },
        // Create new gridpacks csv
        fileUploadOpenDialog: function() {
          let formInput = this.$refs['file-upload-input'];
          formInput.click()
        },
        fileUploadPrepareForm: function() {
          let divElement = document.createElement('div');
          this.csvDialog.dragDropSupported = (('draggable' in divElement) || ('ondragstart' in divElement && 'ondrop' in divElement)) && 'FormData' in window && 'FileReader' in window;
          const component = this;
          if (this.csvDialog.dragDropSupported) {
            let form = this.$refs['file-upload-form'];
            const stopPropagation = function(e) {
              e.preventDefault();
              e.stopPropagation();
            }
            const draggingOver = function(e) {
              stopPropagation(e);
              form.classList.add('dragging-over');
            }
            const notDragingOver = function(e) {
              stopPropagation(e);
              form.classList.remove('dragging-over');
            }
            const drop = async function(e) {
              notDragingOver(e);
              component.fileUploadHandle(e.dataTransfer.files[0]);
              e.dataTransfer.value = '';
            }
            form.ondrag = stopPropagation;
            form.ondragstart = stopPropagation;
            form.ondragenter = notDragingOver;
            form.ondragover = draggingOver;
            form.ondragend = notDragingOver;
            form.ondragleave = notDragingOver;
            form.ondrop = drop;
          }
          let formInput = this.$refs['file-upload-input'];
          formInput.onchange = async function() {
            component.fileUploadHandle(formInput.files[0]);
            formInput.value = '';
          }
        },
        fileUploadHandle: function(file) {
          const component = this;
          file.text().then(function(contents) {
            const gridpacks = $.csv.toObjects(contents);
            for (let gridpack of gridpacks) {
              let campaign = gridpack.campaign;
              if (!(campaign in component.systemInfo.options.campaigns)) {
                alert(`Invalid campaign "${campaign}"`);
                return;
              }
              let generator = gridpack.generator;
              if (!(component.systemInfo.options.campaigns[campaign].includes(generator))) {
                alert(`Invalid generator "${generator}"`);
                return;
              }
              let process = gridpack.process;
              if (!(process in component.systemInfo.options.cards[generator])) {
                alert(`Invalid process "${process}"`);
                return;
              }
              let dataset = gridpack.dataset;
              if (!(component.systemInfo.options.cards[generator][process].includes(dataset))) {
                alert(`Invalid dataset "${dataset}"`);
                return;
              }
              let genproductions = gridpack.genproductions;
              if (!(component.systemInfo.options.branches.includes(genproductions))) {
                alert(`Invalid genproductions "${genproductions}"`);
                return;
              }
              let tune = gridpack.tune;
              if (!tune.length) {
                alert(`Invalid tune "${tune}"`);
                return;
              }
              gridpack.events = parseInt(gridpack.events);
              gridpack.beam = parseInt(gridpack.beam);
            }
            component.csvDialog.objects = gridpacks;
          });
        },
        fileUploadCloseDialog: function() {
          this.csvDialog.objects = [];
          $('#uploadCSVModal').modal('hide');
        },
        fileUploadCreateGridpacks: function() {
          this.createGridpacks(this.csvDialog.objects);
          this.fileUploadCloseDialog();
        },
      }
    })
  </script>
</body>

</html>
