<html>

<head>
  <title>Gridpack Extravaganza</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="static/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" type="text/css" href="static/style.css">

  <link rel="icon" type="image/png" href="static/icon.png" />
  <style>
    body {
      background: #fafafa;
    }
    select {
      width: 100%;
      border-color: lightgray;
      background-color: white;
    }
    td, th {
      border: 1px #aaa solid;
      padding: 2px 4px;
      font-size: 0.9em;
      text-align: center;
      white-space: nowrap;
    }
    td.wrap {
      white-space: normal;
      word-break: break-all;
    }
    th {
      text-align: center;
      background: #eee;
    }
    tr {
      height: 30px;
      background: white;
    }
    table {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      margin-top: 20px;
      border-collapse: collapse;
    }
    .sort {
      cursor: pointer;
    }
    input {
      margin: auto;
      margin-bottom: 2px;
      border: 1px solid lightgray;
      padding-left: 4px;
      padding-right: 4px;
      max-width: 120px;
    }
    .sorted-by {
      background: #c8c8c8;
    }
    a {
      color: #005eb6;
    }
    .wizard {
      opacity: 0;
      width: 24px;
      height: 24px;
      vertical-align: baseline;
      transition: all 1s ease-in-out;
    }
    .wizard:hover {
      opacity: 1;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">
      <header class="elevation-3">
        <div style="height: 64px; text-decoration: none; color: rgba(0, 0, 0, 0.87); justify-content: space-between;">
          <a href="/gridpack/" class="headline">
            <span>Grid</span><span class="font-weight-light">pack</span>
          </a>
          <div style="text-align: right; line-height: 28px;">
            <small class="font-weight-light">Logged in as</small> {{user.name}}
            <img style="width: 16px; height: 16px; vertical-align: baseline;" v-if="user.authorized" src="static/star.png"/>
          </div>
        </div>
      </header>
    </div>

    <div class="container" style="padding-top: 76px;">
    </div>

    <div class="container mt-4" style="text-align: center;" v-if="user.authorized">
      <button type="button" class="btn btn-success btn-sm elevation-3 ml-1 mr-1" data-toggle="modal" data-target="#createGridpackModal">Create gridpacks</button>
      <button type="button" class="btn btn-info btn-sm elevation-3 ml-1 mr-1" @click="forceTick()">Machine tick</button>
      <button type="button" class="btn btn-info btn-sm elevation-3 ml-1 mr-1" @click="forceRepositoryTick()">Refresh repository</button>
      <div class="mt-2">
        <small>Machine tick {{systemInfo.lastTickNice}} ago | Repository refresh {{systemInfo.lastTickRepositoryNice}} ago</small>
      </div>
    </div>
    <table>
      <tr>
        <th>Campaign</th>
        <th>Generator</th>
        <th>Dataset</th>
        <th>Actions</th>
        <th>Beam energy</th>
        <th>Tune</th>
        <th>Events</th>
        <th>GEN productions</th>
        <th>Status</th>
        <th>Job</th>
        <th>Gridpack</th>
        <th>History</th>
      </tr>
      <tr v-for="gridpack in gridpacks" :key="gridpack._id">
        <td>
          {{gridpack.campaign}}
        </td>
        <td>
          {{gridpack.generator}}
        </td>
        <td>
          <small>{{gridpack.process}}/</small>{{gridpack.dataset}}
        </td>
        <td>
          <span style="cursor: pointer;" title="Delete gridpack job" @click="deleteGridpack(gridpack)">&#10007;</span>
          <span style="cursor: pointer;" title="Reset job" @click="resetGridpack(gridpack)">&#8634;</span>
        </td>
        <td>
          {{gridpack.beamNice}}
        </td>
        <td>
          {{gridpack.tune}}
        </td>
        <td>
          {{gridpack.eventsNice}}
        </td>
        <td>
          <a :href="'https://github.com/' + systemInfo.gen_repository + '/tree/' + gridpack.genproductions" target="_blank">{{gridpack.genproductions}}</a>
        </td>
        <td>
          {{gridpack.status}}
        </td>
        <td>
          <pre style="margin: 0">{{gridpack.condor_status}} ({{gridpack.condor_id}})</pre>
        </td>
        <td>
          <a :href="'https://pdmv-gridpacks.web.cern.ch/?q=' + gridpack.archive" target="_blank" style="letter-spacing: -0.4px">{{gridpack.archive}}</a>
        </td>
        <td>
          <ul style="text-align: left">
            <li v-for="entry in gridpack.newestHistory"><small>{{entry.timeNiceShort}}</small> {{entry.action}} <small>({{entry.user}})</small></li>
          </ul>
        </td>
      </tr>
    </table>
    <!-- Create new gridpack modal -->
    <div class="modal fade" id="createGridpackModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="createGridpackModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="width: fit-content; max-width: 100%;">
        <div class="modal-content">
          <div class="modal-header">
            <audio id="abracadabra" src="static/abracadabra.mp3" preload="auto"></audio>
            <h5 class="modal-title" id="createGridpackModalLabel">
              New gridpack wizard <img class="wizard" id="wizard" src="static/wizard.png"/>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <th>#</th>
                <th>Campaign</th>
                <th>Generator</th>
                <th>Process</th>
                <th>Dataset</th>
                <th>Beam energy</th>
                <th>Tune</th>
                <th>Events</th>
                <th>GEN productions</th>
                <th>Actions</th>
              </tr>
              <tr v-for="(wizardObject, index) in wizardObjects">
                <td>
                  {{index + 1}}.
                </td>
                <td>
                  <select v-model="wizardObject.campaign" @change="wizardSelectCampaign(wizardObject, wizardObject.campaign)">
                    <option v-for="(_, campaign) in systemInfo.options.campaigns" :key="campaign">{{campaign}}</option>
                  </select>
                </td>
                <td>
                  <select v-if="wizardObject.campaign" v-model="wizardObject.generator" @change="wizardSelectGenerator(wizardObject, wizardObject.generator)">
                    <option v-for="generator in systemInfo.options.campaigns[wizardObject.campaign]" :key="generator">{{generator}}</option>
                  </select>
                </td>
                <td>
                  <select v-if="wizardObject.generator" v-model="wizardObject.process" @change="wizardSelectProcess(wizardObject, wizardObject.process)">
                    <option v-for="(_, process) in systemInfo.options.cards[wizardObject.generator]" :key="process">{{process}}</option>
                  </select>
                </td>
                <td>
                  <select v-if="wizardObject.process" v-model="wizardObject.dataset" @change="wizardSelectDataset(wizardObject, wizardObject.dataset)">
                    <option v-for="dataset in systemInfo.options.cards[wizardObject.generator][wizardObject.process]" :key="dataset">{{dataset}}</option>
                  </select>
                </td>
                <td>
                  <input type="number" min="0" v-model="wizardObject.beam">
                </td>
                <td>
                  <input type="text" v-model="wizardObject.tune">
                </td>
                <td>
                  <input type="number" min="0" v-model="wizardObject.events">
                </td>
                <td>
                  <select v-model="wizardObject.genproductions">
                    <option v-for="branch in systemInfo.options.branches" :key="branch">{{branch}}</option>
                  </select>
                </td>
                <td style="text-align: left;">
                  <span style="cursor: pointer;" title="Delete row" @click="wizardDeleteRow(wizardObject)">&#10007;</span>
                  <span style="cursor: pointer;" title="Clone row" @click="wizardCloneRow(wizardObject)">&#10697;</span>
                  <span style="cursor: pointer;" v-if="index != 0" title="Move up" @click="wizardMoveRowUp(wizardObject)">&#9650;</span>
                  <span style="cursor: pointer;" v-if="index != wizardObjects.length - 1" title="Move down" @click="wizardMoveRowDown(wizardObject)">&#9660;</span>
                </td>
              </tr>
            </table>

            <span style="cursor: pointer; margin-left: 4px;" title="Add row" @click="wizardAddRow()">+</span>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-sm btn-success"
                    :disabled="!wizardObjects.length"
                    @click="wizardCreateGridpacks()">Create {{wizardObjects.length > 1 ? (wizardObjects.length + ' gridpacks') : 'gridpack'}}</button>
            <button type="button"
                    class="btn btn-sm btn-secondary"
                    data-dismiss="modal"
                    @click="wizardCancel()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        user: {},
        systemInfo: {},
        gridpacks: [],
        totalGridpacks: 0,
        wizardObjects: [],
      },
      created() {
        this.getUserInfo();
        this.getSystemInfo();
        this.getGridpacks();
        setInterval(this.updateTickDisplay, 1000);
      },
      mounted() {
        var wizard = document.getElementById('wizard');
        var abracadabra = document.getElementById('abracadabra');
        wizard.addEventListener('mouseover', function() { abracadabra.play();});
      },
      methods: {
        getUserInfo: function() {
          const component = this;
          $.get("api/user", function (data) {
            component.user = data;
          });
        },
        getSystemInfo: function() {
          const component = this;
          $.get("api/system_info", function (data) {
            component.systemInfo = data;
            component.updateTickDisplay();
          });
        },
        updateTickDisplay: function() {
          let now = parseInt(Date.now() / 1000);
          this.$set(this.systemInfo, 'lastTickNice', this.secondsToDiff(now - this.systemInfo.last_tick))
          this.$set(this.systemInfo, 'lastTickRepositoryNice', this.secondsToDiff(now - this.systemInfo.last_repository_tick))
        },
        getGridpacks: function() {
          const component = this;
          $.get("api/get", function (data) {
            component.gridpacks = data[0];
            for (let gridpack of component.gridpacks) {
              gridpack.eventsNice = gridpack.events.toLocaleString('en-US');
              gridpack.beamNice = gridpack.beam.toLocaleString('en-US');
              gridpack.newestHistory = gridpack.history.slice(-3);
              for (let entry of gridpack.newestHistory) {
                entry.timeNiceShort = moment(new Date(entry.time * 1000.0)).format('MMM DD HH:mm');
              }
            }
            component.totalGridpacks = data[1];
          });
        },
        forceTick: function() {
          const component = this;
          $.get('api/tick', function (data) {
            if (data.message != 'OK') {
              alert(data);
            } else {
              setTimeout(() => {
                component.getSystemInfo();
                component.getGridpacks();
              }, 1000);
            }
          });
        },
        forceRepositoryTick: function() {
          const component = this;
          $.get('api/tick_repository', function (data) {
            if (data.message != 'OK') {
              alert(data);
            } else {
              setTimeout(() => {
                component.getSystemInfo();
              }, 1000);
            }
          });
        },
        createGridpacks: function(gridpacks) {
          const component = this;
          $.ajax({
            url: 'api/create',
            type: 'PUT',
            data: JSON.stringify(gridpacks),
            contentType: 'application/json',
            success: function(result) {
              component.getGridpacks();
            }
          }).fail(function(data) {
            alert(data.responseJSON.message)
          });
        },
        resetGridpack: function(gridpack) {
          if (window.confirm('Reset ' + gridpack._id + '?')) {
            const component = this;
              $.ajax({
                url: 'api/reset',
                type: 'POST',
                data: JSON.stringify(gridpack),
                contentType: 'application/json',
                success: function(result) {
                  component.getGridpacks();
                }
            });
          }
        },
        deleteGridpack: function(gridpack) {
          if (window.confirm('Delete ' + gridpack._id + '?')) {
            const component = this;
              $.ajax({
                url: 'api/delete',
                type: 'DELETE',
                data: JSON.stringify(gridpack),
                contentType: 'application/json',
                success: function(result) {
                  component.getGridpacks();
                }
            });
          }
        },
        secondsToDiff: function (s) {
          var days = Math.floor(s / 86400)
          var hours = Math.floor((s - (days * 86400)) / 3600)
          var minutes = Math.floor((s - (days * 86400 + hours * 3600)) / 60)
          var seconds = s - days * 86400 - hours * 3600 - minutes * 60;
          var result = ''
          if (days > 0) {
            result += days + 'd '
          }
          if (hours > 0) {
            result += hours + 'h '
          }
          if (minutes > 0) {
            result += minutes + 'min '
          }
          if (days == 0 && hours == 0 && minutes < 5) {
            result += seconds + 's'
          }
          return result
        },
        // Create new gridpack wizard
        wizardSelectCampaign: function(wizObject, campaign) {
          wizObject.campaign = campaign;
          this.wizardSelectGenerator(wizObject, undefined);
        },
        wizardSelectGenerator: function(wizObject, generator) {
          wizObject.generator = generator;
          this.wizardSelectProcess(wizObject, undefined);
        },
        wizardSelectProcess: function(wizObject, process) {
          wizObject.process = process;
          this.wizardSelectDataset(wizObject, undefined);
        },
        wizardSelectDataset: function(wizObject, dataset) {
          wizObject.dataset = dataset;
        },
        wizardCancel: function() {
          this.wizardObjects = [];
        },
        wizardAddRow: function() {
          let newRow = {
            campaign: undefined,
            generator: undefined,
            process: undefined,
            dataset: undefined,
            events: 0,
            tune: undefined,
            beam: 0,
            genproductions: undefined,
          };
          if (this.systemInfo.options.branches.includes('master')) {
            newRow.genproductions = 'master';
          }
          this.wizardObjects.push(newRow);
        },
        wizardCreateGridpacks: function() {
          let index = 1;
          for (let gridpack of this.wizardObjects) {
            if (gridpack.campaign == undefined) {
              alert('Please select a campaign in row ' + index);
              return;
            }
            if (gridpack.generator == undefined) {
              alert('Please select a generator in row ' + index);
              return;
            }
            if (gridpack.process == undefined) {
              alert('Please select a process in row ' + index);
              return;
            }
            if (gridpack.dataset == undefined) {
              alert('Please select a dataset in row ' + index);
              return;
            }
            if (gridpack.genproductions == undefined) {
              alert('Please select a genproductions branch in row ' + index);
              return;
            }
            gridpack.events = parseInt(gridpack.events);
            if (gridpack.events <= 0) {
              alert('Please enter a positive number of events in row ' + index);
              return;
            }
            gridpack.beam = parseInt(gridpack.beam);
            if (gridpack.beam <= 0) {
              alert('Please enter a positive beam energy in row ' + index);
              return;
            }
            gridpack.tune = gridpack.tune.trim();
            if (gridpack.tune == '') {
              alert('Please enter a tune in row ' + index);
              return;
            }
            index++;
          }
          this.createGridpacks(this.wizardObjects);
          $('#createGridpackModal').modal('hide');
          this.wizardObjects = [];
        },
        wizardDeleteRow: function(wizardObject) {
          let index = this.wizardObjects.indexOf(wizardObject);
          this.wizardObjects.splice(index, 1);
        },
        wizardCloneRow: function(wizardObject) {
          let index = this.wizardObjects.indexOf(wizardObject);
          this.wizardObjects.splice(index + 1, 0, {
            campaign: wizardObject.campaign,
            generator: wizardObject.generator,
            process: wizardObject.process,
            dataset: wizardObject.dataset,
            events: wizardObject.events,
            tune: wizardObject.tune,
            beam: wizardObject.beam,
            genproductions: wizardObject.genproductions,
          });
        },
        wizardMoveRowUp: function(wizardObject) {
          let index = this.wizardObjects.indexOf(wizardObject);
          if (index > 0) {
            this.wizardObjects.splice(index - 1, 0, this.wizardObjects.splice(index, 1)[0]);
          }
        },
        wizardMoveRowDown: function(wizardObject) {
          let index = this.wizardObjects.indexOf(wizardObject);
          if (index < this.wizardObjects.length - 1) {
            this.wizardObjects.splice(index + 1, 0, this.wizardObjects.splice(index, 1)[0]);
          }
        },
      }
    })
  </script>
</body>

</html>
